In [10]:
import pandas as pd
import numpy as np

In [11]:
s = pd.Series([1,2,3,4,5,6,np.nan,8,9,10])

In [12]:
s

0     1.0
1     2.0
2     3.0
3     4.0
4     5.0
5     6.0
6     NaN
7     8.0
8     9.0
9    10.0
dtype: float64

In [21]:
d = pd.date_range('20200301', periods=10)

In [22]:
d

DatetimeIndex(['2020-03-01', '2020-03-02', '2020-03-03', '2020-03-04',
               '2020-03-05', '2020-03-06', '2020-03-07', '2020-03-08',
               '2020-03-09', '2020-03-10'],
              dtype='datetime64[ns]', freq='D')

In [24]:
df = pd.DataFrame(np.random.randn(10,4), index=d, columns= ['A','B','C','D'])

In [25]:
df

                   A         B         C         D
2020-03-01 -0.029771 -1.040316 -0.228319 -0.430056
2020-03-02  0.677318 -1.693585  0.248106  0.442020
2020-03-03  1.596137  0.952878 -0.646503  1.167950
2020-03-04 -0.471922  0.255304  0.395060  0.630454
2020-03-05 -1.502503  0.983535  1.493768 -0.298242
2020-03-06 -0.019011  1.407324 -1.112112 -1.141434
2020-03-07 -0.463031 -0.621723 -1.188837 -0.229636
2020-03-08 -0.178201  0.274640  0.435215  0.348461
2020-03-09 -0.616847 -1.057674 -0.885746  0.399424
2020-03-10 -1.021163  0.085156 -0.272668 -0.382335

In [29]:
df = pd.DataFrame({'A':[1,2,3,4],
                   'B': pd.Timestamp('20200301')
                   'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                   'D': np.array([5]*4, dtype='int32')
                   'E': pd.Categorical(['true','False', 'True', 'False']),
                   'F': 'Jordan'})

In [36]:
df

   A          B    C  D      E       F
0  1 2020-03-01  1.0  5   true  Jordan
1  2 2020-03-01  1.0  5  False  Jordan
2  3 2020-03-01  1.0  5   True  Jordan
3  4 2020-03-01  1.0  5  False  Jordan

In [31]:
df.dtypes

A             int64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [32]:
 df.head()

   A          B    C  D      E       F
0  1 2020-03-01  1.0  5   true  Jordan
1  2 2020-03-01  1.0  5  False  Jordan
2  3 2020-03-01  1.0  5   True  Jordan
3  4 2020-03-01  1.0  5  False  Jordan

In [33]:
df.tail()

   A          B    C  D      E       F
0  1 2020-03-01  1.0  5   true  Jordan
1  2 2020-03-01  1.0  5  False  Jordan
2  3 2020-03-01  1.0  5   True  Jordan
3  4 2020-03-01  1.0  5  False  Jordan

In [34]:
df.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [37]:
df. to_numpy()

array([[1, Timestamp('2020-03-01 00:00:00'), 1.0, 5, 'true', 'Jordan'],
       [2, Timestamp('2020-03-01 00:00:00'), 1.0, 5, 'False', 'Jordan'],
       [3, Timestamp('2020-03-01 00:00:00'), 1.0, 5, 'True', 'Jordan'],
       [4, Timestamp('2020-03-01 00:00:00'), 1.0, 5, 'False', 'Jordan']],
      dtype=object)

In [38]:
df.describe()

              A    C    D
count  4.000000  4.0  4.0
mean   2.500000  1.0  5.0
std    1.290994  0.0  0.0
min    1.000000  1.0  5.0
25%    1.750000  1.0  5.0
50%    2.500000  1.0  5.0
75%    3.250000  1.0  5.0
max    4.000000  1.0  5.0

In [39]:
pd.concat(df)

TypeError: first argument must be an iterable of pandas objects, you passed an object of type "DataFrame"

In [40]:
df2=df.reindex(index=d[0:4],columns=list(df.columns)+['E'])

In [41]:
df2

             A   B   C   D    E    F    E
2020-03-01 NaN NaT NaN NaN  NaN  NaN  NaN
2020-03-02 NaN NaT NaN NaN  NaN  NaN  NaN
2020-03-03 NaN NaT NaN NaN  NaN  NaN  NaN
2020-03-04 NaN NaT NaN NaN  NaN  NaN  NaN

In [43]:
df2.loc[d[0]:d[1],'E']=1

TypeError: Cannot setitem on a Categorical with a new category (1), set the categories first

In [ ]:

5